@media only screen and (min-width: 640px) and (max-width: 1090px) {
    #typed {
        font-size: 14px !important;
    }
    #whatIuse p{
        font-size: 1.5em !important;
    }
    footer i {
        font-size: 3.9em !important;
    }
    footer h1{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    #typed {
        font-size: 1em;
        text-align: center;
        width: 100%;
    }
    #aboutme img{
        display: inline-block;

    }
    #meblock{
        text-align: center;
    }
    #whatIuse img{
        max-width: 5em;
    }
    #whatIuse p{
        font-size: 1em !important;
    }
    @keyframes bill {
        0% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
        50% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        75% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        100% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
    }
    @-webkit-keyframes bill {
        0% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
        50% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        75% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        100% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
    }
    @-moz-keyframes bill {
        0% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
        50% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        75% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        100% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
    }
    @-o-keyframes bill {
        0% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
        50% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        75% {
            transform-origin: left bottom;
            transform: rotate(-7deg);

        }
        100% {
            transform-origin: left bottom;
            transform: rotate(0deg);

        }
    }
    #rock{
        display: none;
    }
    footer i{
        font-size:2.5em;
    }
    footer h1{
        font-size: 1.8em;
    }
    #count{
        text-align: center;
    }
    #brblock{
        display: inline-block;
    }
    footer .rowFull {
        padding-top: 0;
    }


    #aboutme .medium-4{
        display: inline-block !important;
    }
    #logoblock img{
        max-width: 30%;
    }
}
